@include describe("Arrays::Initial") {
  @include it("should return the initial item in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( initial($numbers ) ), to( equal( (1, 2) )));
    @include should(expect( initial($strings ) ), to( equal( ("foo", "bar") )));
    @include should(expect( initial($booleans) ), to( equal( (true, false) )));
  }

  @include it("should return the initial nth items in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( initial($numbers , 2) ), to( equal( 1 )));
    @include should(expect( initial($strings , 2) ), to( equal( "foo" )));
    @include should(expect( initial($booleans, 2) ), to( equal( true )));
  }

  @include it("should return the only item in an single item array") {
    $number: 1;
    $string: "foo";
    $boolean: true;

    @include should(expect( initial($number ) ), to( equal( 1 )));
    @include should(expect( initial($string ) ), to( equal( "foo" )));
    @include should(expect( initial($boolean) ), to( equal( true )));
  }

  @include it("should return undefined when a list is empty") {
    $empty: ();

    @include should(expect( initial($empty) ), to( be-undefined() ));
  }
}
