@include describe("Arrays::Intersection") {
  @include it("should make a union of unique items in the arrays") {
    $list-1a: 1, 2, 3;
    $list-1b: 2, 4, 1;
    $list-1c: 8, 2, 1;

    $list-2a: "foo", "bar", "baz";
    $list-2b: "bar", "nan", "foo";
    $list-2c: "foo", "baz", "bar";

    $list-3a:      true,  false, false;
    $list-3b:      true,   null, false;
    $list-3c: undefined,  false,  true;

    @include should(expect( intersection($list-1a, $list-1b, $list-1c) ), to( match( ( 1, 2 ) )));
    @include should(expect( intersection($list-2a, $list-2b, $list-2c) ), to( match( ( "foo", "bar" ) )));
    @include should(expect( intersection($list-3a, $list-3b, $list-3c) ), to( match( ( true, false ) )));
  }

  @include it("should return one item if all the items are the same") {
    @include should(expect( intersection(1, 1, 1)             ), to( match( ( 1     ) )));
    @include should(expect( intersection("foo", "foo", "foo") ), to( match( ( "foo" ) )));
    @include should(expect( intersection(false, false, false) ), to( match( ( false ) )));
  }

  @include it("should return nothing if all the items are the same except one") {
    @include should(expect( intersection(1, 1, 2)             ), to( match( () )));
    @include should(expect( intersection("foo", "foo", "bar") ), to( match( () )));
    @include should(expect( intersection(false, false, true)  ), to( match( () )));
  }

  @include it("should leave empty arrays alone") {
    @include should(expect( intersection( () )), to( match( () )));
    @include should(expect( intersection( () )), to( match( () )));
    @include should(expect( intersection( () )), to( match( () )));
  }
}
