@include describe("Lists ~ Initial") {
  @include it("should return the initial item in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-initial($numbers ) ), to( be( (1, 2) )));
    @include should(expect( ballistic-initial($strings ) ), to( be( ("foo", "bar") )));
    @include should(expect( ballistic-initial($booleans) ), to( be( (true, false) )));
  }

  @include it("should return the initial nth items in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-initial($numbers , 2) ), to( be( 1 )));
    @include should(expect( ballistic-initial($strings , 2) ), to( be( "foo" )));
    @include should(expect( ballistic-initial($booleans, 2) ), to( be( true )));
  }

  @include it("should return an empty list when list is too short") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-initial($numbers , 4) ), to( be( () )));
    @include should(expect( ballistic-initial($strings , 4) ), to( be( () )));
    @include should(expect( ballistic-initial($booleans, 4) ), to( be( () )));
  }

  @include it("should return the only item in an single item array") {
    $number: 1;
    $string: "foo";
    $boolean: true;

    @include should(expect( ballistic-initial($number ) ), to( be( 1 )));
    @include should(expect( ballistic-initial($string ) ), to( be( "foo" )));
    @include should(expect( ballistic-initial($boolean) ), to( be( true )));
  }

  @include it("should return null when a list is empty") {
    $empty: ();

    @include should(expect( ballistic-initial($empty) ), to( be-null() ));
  }
}
