@include describe("Lists ~ Contains") {
  @include it("should be true if collection contains value") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-contains( $numbers,  1     ) ), to( be( true ) ));
    @include should(expect( ballistic-contains( $strings,  "foo" ) ), to( be( true ) ));
    @include should(expect( ballistic-contains( $booleans, false ) ), to( be( true ) ));
  }

  @include it("should be false if collection doesnt contain value") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-contains( $numbers,  4     ) ), to( be( false ) ));
    @include should(expect( ballistic-contains( $strings,  "fod" ) ), to( be( false ) ));
    @include should(expect( ballistic-contains( $booleans, null  ) ), to( be( false ) ));
  }
}
