@include describe("Arrays::First") {
  @include it("should return the first item in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-first($numbers ) ), to( be( 1 )));
    @include should(expect( ballistic-first($strings ) ), to( be( "foo" )));
    @include should(expect( ballistic-first($booleans) ), to( be( true )));
  }

  @include it("should return the first nth items in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( ballistic-first($numbers , 2) ), to( be( (1, 2) )));
    @include should(expect( ballistic-first($strings , 2) ), to( be( ("foo", "bar") )));
    @include should(expect( ballistic-first($booleans, 2) ), to( be( (true, false) )));
  }

  @include it("should return the only item in an single item array") {
    $number: 1;
    $string: "foo";
    $boolean: true;

    @include should(expect( ballistic-first($number ) ), to( be( 1 )));
    @include should(expect( ballistic-first($string ) ), to( be( "foo" )));
    @include should(expect( ballistic-first($boolean) ), to( be( true )));
  }

  @include it("should return null when a list is empty") {
    $empty: ();

    @include should(expect( ballistic-first($empty) ), to( be-null() ));
  }
}
