@include describe("Arrays::First") {
  @include it("should return the first item in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( first($numbers ) ), to( equal( 1 )));
    @include should(expect( first($strings ) ), to( equal( "foo" )));
    @include should(expect( first($booleans) ), to( equal( true )));

    @include should(expect( head($numbers ) ), to( equal( 1 )));
    @include should(expect( head($strings ) ), to( equal( "foo" )));
    @include should(expect( head($booleans) ), to( equal( true )));

    @include should(expect( take($numbers ) ), to( equal( 1 )));
    @include should(expect( take($strings ) ), to( equal( "foo" )));
    @include should(expect( take($booleans) ), to( equal( true )));
  }

  @include it("should return the first nth items in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( first($numbers , 2) ), to( equal( (1, 2) )));
    @include should(expect( first($strings , 2) ), to( equal( ("foo", "bar") )));
    @include should(expect( first($booleans, 2) ), to( equal( (true, false) )));

    @include should(expect( head($numbers , 2) ), to( equal( (1, 2) )));
    @include should(expect( head($strings , 2) ), to( equal( ("foo", "bar") )));
    @include should(expect( head($booleans, 2) ), to( equal( (true, false) )));

    @include should(expect( take($numbers , 2) ), to( equal( (1, 2) )));
    @include should(expect( take($strings , 2) ), to( equal( ("foo", "bar") )));
    @include should(expect( take($booleans, 2) ), to( equal( (true, false) )));
  }

  @include it("should return the only item in an single item array") {
    $number: 1;
    $string: "foo";
    $boolean: true;

    @include should(expect( first($number ) ), to( equal( 1 )));
    @include should(expect( first($string ) ), to( equal( "foo" )));
    @include should(expect( first($boolean) ), to( equal( true )));

    @include should(expect( head($number ) ), to( equal( 1 )));
    @include should(expect( head($string ) ), to( equal( "foo" )));
    @include should(expect( head($boolean) ), to( equal( true )));

    @include should(expect( take($number ) ), to( equal( 1 )));
    @include should(expect( take($string ) ), to( equal( "foo" )));
    @include should(expect( take($boolean) ), to( equal( true )));
  }

  @include it("should return null when a list is empty") {
    $empty: ();

    @include should(expect( first($empty) ), to( be-null() ));
    @include should(expect( head($empty) ), to( be-null() ));
    @include should(expect( take($empty) ), to( be-null() ));
  }
}
