@include describe("Arrays::Last") {
  @include it("should return the last item in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( last($numbers ) ), to( equal( (3) )));
    @include should(expect( last($strings ) ), to( equal( ("baz") )));
    @include should(expect( last($booleans) ), to( equal( (false) )));
  }

  @include it("should return the last nth items in an array") {
    $numbers:  1, 2, 3;
    $strings:  "foo", "bar", "baz";
    $booleans: true, false, false;

    @include should(expect( last($numbers , 1) ), to( equal( 3 )));
    @include should(expect( last($strings , 1) ), to( equal( "baz" )));
    @include should(expect( last($booleans, 1) ), to( equal( false )));
  }

  @include it("should return the only item in an single item array") {
    $number: 1;
    $string: "foo";
    $boolean: true;

    @include should(expect( last($number ) ), to( equal( 1 )));
    @include should(expect( last($string ) ), to( equal( "foo" )));
    @include should(expect( last($boolean) ), to( equal( true )));
  }

  @include it("should return undefined when a list is empty") {
    $empty: ();

    @include should(expect( last($empty) ), to( be-undefined() ));
  }
}
